.btn{
   font-weight: 200;
   width: 13rem;
   border-radius: 3rem;
   background-color: $color-primary;
   color: #fff;
   padding: 1rem 3rem;
   transition: all .8s;
   display: inline-block;

   &:hover{
      background-color: $color-hot;
      box-shadow: .5rem .5rem 1rem rgba($color-shadow, .8);
   }


}

.btn--em{
   background-color: $color-secondary;
}