.btn{
   font-weight: 200;
   font-size: 1.8rem;
   width: 13.6rem;
   border-radius: 3rem;
   background-color: $color-primary;
   color: #fff;
   padding: 1rem 3rem;
   transition: all .8s;
   display: inline-block;

   &:hover{
      color: #333;
      background-color: $color-hot;
      box-shadow: .5rem .5rem 1rem rgba($color-shadow, .8);
      transform: translateX(1rem);
     
   }

   &--em{
      background-color: $color-secondary;
   }

   &--border{
      color:$color-primary;
      background-color: #fff;
      border: 1px solid $color-primary;
      &:hover{
         border: 1px solid transparent;
      }
   }

   &--price{
      width: 9rem;
      height: 4rem;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover{
         transform: none;
      }
      @include respond(lg){
         width: 13rem;
         height: 5rem;
         font-size: 1.8rem;
      }
   
   }

   &--price-selected{
      background-color: $color-primary;
      color: #fff;
   }


}

