html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
  // outline: 1px solid #eee;
}
body{
  color:$color-text-main;
  font-size: 1.6rem;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.4;  
}
.wrapper{
  max-width: 100%;
  margin: 0 auto;

  outline:1px solid #eee  ;
}
img{
  width:100%;
}
a{
  text-decoration: none;
}

ul{
  list-style: none;
}


section{
  margin-top: 6rem;
}