html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
  // outline: 1px solid #eee;
}
body{
  color:$color-text-main;
  font-size: 1.6rem;
  font-family: 'Noto Sans TC',"Wendy One", sans-serif;
  line-height: 1.4;  
}
.wrapper{
  max-width: 100%;
  margin: 0 auto;
  position: relative;

}
.hideBox{
  overflow-x: auto;
  overflow-y: visible;

  @include respond(lg){
    // @include width-lg;
  }
}

.itemBox{
  display: block;
  padding: 0 2rem;
  

  @include respond(med){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  @include respond(lg){
    padding: 0;
    @include width-lg
  }

  &--commit{
    display: flex;
    width:fit-content;
    padding: 6rem 0 1rem;
    flex-wrap: nowrap;

    @include respond(lg){
      
    }
    
  
  }

  &--production{
    @include respond(lg){
      width: 50rem;
      order: -1;
      margin: 0
      
    }
  }

  &--question{
    padding: 2rem;
    @include respond(lg){
      max-width: 91rem;
     
    }
  }

  &--plane{
    @include respond(lg){
      max-width: 91rem;
      
    }
  }
}

.hot{
  color: $color-primary;
}

img{
  max-width:100%;
}
a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}


section{
  margin-top: 6rem;
  @include respond(lg){
    margin-top: 10rem;
  }
}
