html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
  // outline: 1px solid #eee;
}
body{
  color:$color-text-main;
  font-size: 1.6rem;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.4;  
}
.wrapper{
  max-width: 100%;
  margin: 0 auto;

}

.itemBox{
  display: block;
  

  @include respond(med){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  @include respond(lg){
    @include width-lg
  }

  &--production{
    @include respond(lg){
      width: 50rem;
      order: -1;
      margin: 0
      
    }
  }
}
img{
  width:100%;
}
a{
  text-decoration: none;
}

ul{
  list-style: none;
}


section{
  margin-top: 6rem;
  @include respond(lg){
    margin-top: 10rem;
  }
}