.mediaItem{
  margin-bottom: 2.4rem;

  &__img{
    max-width: 6rem;
  }
}

.taItem{
  width: 26rem;
  margin:0 auto 2.4rem;
}

.production{
  display: block;

  @include respond(lg){
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include width-lg;
    margin-top: 10rem;
  }
}
.productionHeader{
  margin-bottom: 3.2rem;
  text-align: center ;
  &__desc{
    margin-bottom: 1.6rem;
  }

  @include respond(lg){
    text-align: left;
    margin-right: calc((100% - 50rem - 35rem)/3);
  }
}

.productionItem{
  width: 23rem;
  padding: 3.2rem 2.4rem 4.8rem;
  margin: 0 auto 2.4rem;
  &__imgBox{
    width: 8.6rem;
    height: 8.6rem;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem $color-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
    width: 60%;
    
  }
}

.commentItem{
  position: relative;
  width: 35.2rem;
  // margin: 0 1.6rem;
  padding: 4.8rem 3.2rem 2.4rem;
  overflow:visible;
  &__userImg{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    left:3.2rem;
    top:-5.6rem;
  }
  hr{
    border:1px solid #ddd;
    margin: 2.4rem 0;
  }
  
}

.commentUser{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &__star{
    display: flex;
    align-items: flex-end;
    margin: 0;
    height: 1.6rem;
    img{
      width: 1.6rem;
      margin-left: .8rem;
      margin-bottom: .4rem;
      display: inline-block;
    }
  }
}

.navCard{
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  ul{
    display: flex;
    padding: 0;
    
  }

  li{
    width: 1rem;
    height: 1rem;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 .4rem;

    a{
      display: inline-block;
    }
  }

  li.selected{
    background-color: $color-hot;
    width: 1.6rem;
    border-radius: 5rem;
  }

}